@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 262 52% 47%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 261 100% 88%;
    --accent-foreground: 262 52% 47%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 262 52% 47%;
    --radius: 0.5rem;
    --chart-1: 262 52% 47%;
    --chart-2: 261 100% 88%;
    --chart-3: 262 70% 60%;
    --chart-4: 262 80% 70%;
    --chart-5: 262 90% 80%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 262 52% 47%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 261 100% 88%;
    --sidebar-accent-foreground: 262 52% 47%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 262 52% 47%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 261 100% 88%;
    --primary-foreground: 262 52% 47%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 261 100% 88%;
    --chart-1: 261 100% 88%;
    --chart-2: 262 52% 47%;
    --chart-3: 262 70% 60%;
    --chart-4: 262 80% 70%;
    --chart-5: 262 90% 80%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 261 100% 88%;
    --sidebar-primary-foreground: 262 52% 47%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 261 100% 88%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
